body {
  margin: 0% 2% 2% 2%;
  background-image: -webkit-linear-gradient(to left, #1ed3e4, #ff00ff);
  background-image: -o-linear-gradient(to left, #1ed3e4, #ff00ff);
  background-image: -moz-linear-gradient(to left, #1ed3e4, #ff00ff);
  background-image: linear-gradient(to left #1ed3e4, #ff00ff);
}
iframe {
  margin: 50px;
}

.header {
  display: inline-block;
  width: 450px;
  margin: 2%;
}
.hello {
  margin-right: 10%;
}
.btn1 {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 10px;
}
.jumbotron {
  background-image: -webkit-linear-gradient(
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: -o-linear-gradient(
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: -moz-linear-gradient(
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: linear-gradient(
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
}

nav {
  position: relative;
  background-image: -webkit-linear-gradient(to left, #ff00ff, #1ed3e4);
  background-image: -o-linear-gradient(to left, #ff00ff, #1ed3e4);
  background-image: -moz-linear-gradient(to left, #ff00ff, #1ed3e4);
  background-image: linear-gradient(to left, #ff00ff, #1ed3e4);
}
.card {
  background-image: -webkit-linear-gradient(
    to left,
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: -o-linear-gradient(
    to left,
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 255, 0.7),
    rgba(30, 211, 228, 0.7)
  );
}
img {
  width: 65%;
}

footer {
  text-align: center;
  display: block;
  height: 50px;
}
